/**
 * 01. Heading
 * 02. Structure
 * 03. Welcome Message
 * 04. Stats
 * 05. Top Lists
 * 06. Activity Feed
 */

.dashboard-wrap {

  * {
    box-sizing: border-box;
  }

  /**
   * 01. Heading
   */
  h1 {
    margin: .2em 0 .5em 0;
    padding: 0 0 .5em;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;

    .version {
      padding: 4px 8px;
      font-size: 14px;
      font-weight: 700;
      border-radius: 3px;
      background: #fff;
      margin: 0 0 0 10px;
    }
  }

  /**
   * 02. Structure
   */
  .column-left {
    width: 70%;
    float: left;

    @include breakpoint($tablet) {
      width: 100%;
      float: none;
    }
  }

  .column-right {
    width: 28%;
    float: right;

    @include breakpoint($tablet) {
      width: 100%;
      float: none;
    }
  }

  .stats-wrapper {
    width: 100%;
    margin: 1em 0;

    .stats-container {
      width: 23%;
      float: left;
      margin: 0 1%;

      &.first {
        width: 24%;
        margin: 0 1% 0 0;
      }

      &.last {
        width: 24%;
        margin: 0 0 0 1%;
      }

      @include breakpoint($laptop-large) {
        width: 49%;
        margin: 0;

        &.first,
        &.last {
          width: 49%;
          margin: 0;
        }

        &:nth-child(odd) {
          margin: 0 .5% 1em 0;
        }

        &:nth-child(even) {
          margin: 0 0 1em .5%;
        }
      }

      @include breakpoint($mobile-large) {
        width: 100%;
        float: none;
        margin: 0 0 1em 0;

        &.first,
        &.last {
          width: 100%;
          float: none;
          margin: 0 0 1em 0;
        }
      }
    }
  }

  .top-donors,
  .top-fundraisers {
    float: left;
    width: 49%;

    @include breakpoint($mobile-large) {
      width: 100%;
      margin: 0 0 1em 0;
      float: none;
    }
  }

  .top-donors {
    margin-right: 1%;
  }

  .top-fundraisers {
    margin-left: 1%;
  }

  /**
   * 03. Welcome Message
   */
  .welcome-message {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: #fff;
    padding: 20px;
    position: relative;

    h2 {
      font-size: 2.2em;
      font-weight: 400;
      line-height: 1.2em;
      margin: 0;

      + p {
        margin: 10px 0 2em;
      }
    }

    h3 {
      font-size: 1.75em;
      font-weight: 400;
      line-height: 1.2em;
      margin: 0;
    }

    .close {
      position: absolute;
      top: 10px;
      right: 10px;
      color: #a94442;
    }

    li {
      font-size: 15px;
      margin-bottom: 10px;

      .fa {
        margin: 0 5px 0 5px;
      }

      .fa-check-square-o {
        color: $green;
      }

      .fa-square-o {
        color: $red;
      }
    }
  }

  /**
   * 04. Stats
   */
  .stats {
    border: 1px solid rgba(0,0,0,.1);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #fff;
    padding: 11px 20px 11px 11px;
    box-sizing: border-box;
    width: 100%;

    .title {
      color: #666;
      margin: 0 0 17px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: -0.05em;
    }

    .stat {
      color: #323232;
      font-size: 2.5em;
      margin: 0;

      strong {
        display: block;
        text-align: right;
        position: relative;
        color: #4d4d4d;

        &:before {
          content: "\f007";
          width: 1.28571429em;
          text-align: center;
          display: inline-block;
          font: normal normal normal 25px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          padding: 0 5px 0 0;
          vertical-align: bottom;
          color: #3498db;
          position: absolute;
          left: 0;
          top: 8px;
        }

        .thousand-symbol,
        .currency-symbol {
          font-size: .85em;
        }

        .currency-symbol {
          position: relative;
          top: -5px;
        }
      }
    }

    &.donors .stat strong:before {
      content: "\f007";
    }
    &.total-raised .stat strong:before {
      content: "\f0d6";
    }
    &.campaigns .stat strong:before {
      content: "\f0a1";
    }
    &.fundraisers .stat strong:before {
      content: "\f004";
    }
  }

  .stats-bottom {
    background-color: $gray-light;
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,.1);
    border-top: 0;
    box-sizing: border-box;

    &.view {
      border-right: 0;
      width: 75%;
      float: left;
      border-bottom-left-radius: 3px;
    }

    &.add {
      padding: 5px;
      width: 25%;
      float: left;
      text-align: center;
      border-bottom-right-radius: 3px;
    }

    a {
      color: $gray-medium;
      text-decoration: none;
      font-size: 12px;
      display: block;
    }
  }

  /**
   * 05. Top Lists
   */
  .top-lists {
    .top-donors,
    .top-fundraisers {
      box-sizing: border-box;
      border: 1px solid rgba(0,0,0,.1);
      border-radius: 3px;
      background-color: #fff;
      padding: 11px;

      .title {
        color: #666;
        margin: 0 0 17px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: -0.05em;
      }

      ol {
        margin: 10px 0 0 0;
        list-style-position: inside;

        li {
          border-bottom: 1px solid $gray-light;
          padding-bottom: 11px;
          margin-bottom: 11px;

          &:last-child {
            border: 0;
            margin-bottom: 0;
            padding-bottom: 0;
          }

          .amount {
            float: right;
            color: $gray-dark;
          }
        }
      }
    }
  }

  /**
  * 06. Activity Feed
  */
  .activity-feed {
    max-height: 1000px;
    overflow: auto;

    li {
      margin-bottom: 1em;
      padding-left: 25px;
      position: relative;

      &:before {
        width: 1.28571429em;
        text-align: center;
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        padding: 0 5px 0 0;
        font-size: 16px;
        vertical-align: bottom;
        color: #82878c;
        position: absolute;
        left: 0;
        top: 4px;
      }

      &.donation:before {
        content: "\f0d6";
      }
      &.campaign:before {
        content: "\f0a1";
      }
      &.fundraiser:before {
        content: "\f004";
      }
      &.install:before {
        content: "\f019";
      }
      &.settings:before {
        content: "\f013";
      }

      a {
        text-decoration: none;
        font-weight: bold;
      }

      .date {
        display: block;
        color: #bbb;
        text-transform: lowercase;
      }
    }
  }
}