/**
 * 01. Fields
 */

.peerraiser-settings {

  /**
   * 01. Fields
   */
  .cmb-th {
    width: 20%;
    box-sizing: border-box;
    max-width: 200px;
  }

  .cmb-td {
    width: 80%;
    box-sizing: border-box;
  }

  .cmb2-metabox-description {
    display: block;
  }
}