.peerraiser-wrap .version {
    padding: 4px 8px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 3px;
    background: #fff;
    margin: 0 0 0 10px;
}
.peerraiser-wrap.dashboard-wrap h1 {
    margin: .2em 0 .5em 0;
    padding: 0 0 .5em;
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #32373c;
    line-height: 1.2em;
    font-size: 2.8em;
    font-weight: 400;
}
.peerraiser-wrap.dashboard-wrap .column-left {
    width: 70%;
    float: left;
}
.peerraiser-wrap.dashboard-wrap .column-right {
    width: 28%;
    float: right;
}
.peerraiser-wrap.dashboard-wrap .welcome-message {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: #fff;
    padding: 20px;
    position: relative;
}
.peerraiser-wrap.dashboard-wrap .welcome-message h2 {
    font-size: 2.2em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
}
.peerraiser-wrap.dashboard-wrap .welcome-message h2 + p{
    margin: 10px 0 2em;
}
.peerraiser-wrap.dashboard-wrap .welcome-message h3 {
    font-size: 1.75em;
    font-weight: 400;
    line-height: 1.2em;
    margin: 0;
}
.peerraiser-wrap.dashboard-wrap .welcome-message .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #a94442;
}
.peerraiser-wrap.dashboard-wrap .welcome-message li {
    font-size: 15px;
    margin-bottom: 10px;
}
.peerraiser-wrap.dashboard-wrap .welcome-message li .fa {
    margin: 0px 5px 0 5px;
}
.peerraiser-wrap.dashboard-wrap .fa-check-square-o {
    color: #3c763d;
}
.peerraiser-wrap.dashboard-wrap .fa-square-o {
    color: #a94442;
}
/* Stats */
.peerraiser-wrap.dashboard-wrap .stats-wrapper {
    width: 100%;
    margin: 1em 0;
}
.peerraiser-wrap.dashboard-wrap .stats-container {
    width: 23%;
    float: left;
    margin: 0 1%;
}
.peerraiser-wrap.dashboard-wrap .stats-container.first {
    width: 24%;
    margin: 0 1% 0 0;
}
.peerraiser-wrap.dashboard-wrap .stats-container.last {
    width: 24%;
    margin: 0 0 0 1%;
}
.peerraiser-wrap.dashboard-wrap .stats {
    border: 1px solid rgba(0,0,0,.1);
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #fff;
    padding: 11px 20px 11px 11px;
    box-sizing: border-box;
    width: 100%;
}
.peerraiser-wrap.dashboard-wrap .stats .stat {
    color: #323232;
    font-size: 2.5em;
    margin: 0;
}
.peerraiser-wrap.dashboard-wrap .stats .stat strong {
    display: block;
    text-align: right;
    position: relative;
    color: #4d4d4d;
}
.peerraiser-wrap.dashboard-wrap .stats span.thousand-symbol,
.peerraiser-wrap.dashboard-wrap .stats span.currency-symbol {
    font-size: .85em;
}
.peerraiser-wrap.dashboard-wrap .stats span.currency-symbol {
    position: relative;
    top: -5px;
}
.peerraiser-wrap.dashboard-wrap .stats .title {
    color: #666;
    margin: 0 0 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.05em;
}
.peerraiser-wrap.dashboard-wrap .stats .stat strong:before {
    width: 1.28571429em;
    text-align: center;
    display: inline-block;
    font: normal normal normal 25px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px 0 0;
    vertical-align: bottom;
    color: #3498db;
    position: absolute;
    left: 0;
    top: 8px;
}
.peerraiser-wrap.dashboard-wrap .stats.donors .stat strong:before {
    content: "\f007";
}
.peerraiser-wrap.dashboard-wrap .stats.total-raised .stat strong:before {
    content: "\f0d6";
}
.peerraiser-wrap.dashboard-wrap .stats.campaigns .stat strong:before {
    content: "\f0a1";
}
.peerraiser-wrap.dashboard-wrap .stats.fundraisers .stat strong:before {
    content: "\f004";
}
.peerraiser-wrap.dashboard-wrap .stats-bottom {
    background-color: #f7f7f7;
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,.1);
    border-top: 0;
    box-sizing: border-box;
}
.peerraiser-wrap.dashboard-wrap .stats-bottom.view {
    border-right: 0;
    width: 75%;
    float: left;
    border-bottom-left-radius: 3px;
}
.peerraiser-wrap.dashboard-wrap .stats-bottom.add {
    padding: 5px;
    width: 25%;
    float: left;
    text-align: center;
    border-bottom-right-radius: 3px;
}
.peerraiser-wrap.dashboard-wrap .stats-bottom a {
    color: #8f8f8f;
    text-decoration: none;
    font-size: 12px;
    display: block;
}
/* Top List */
.top-donors,
.top-fundraisers {
    float: left;
    box-sizing: border-box;
    width: 49%;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    background-color: #fff;
    padding: 11px;
}
.top-donors {
    margin-right: 1%;
}
.top-fundraisers {
    margin-left: 1%;
}
.top-donors .title,
.top-fundraisers .title {
    color: #666;
    margin: 0 0 17px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: -0.05em;
}
.top-donors ol,
.top-fundraisers ol {
    margin: 10px 0 0 0;
    list-style-position: inside;
}
.top-donors li,
.top-fundraisers li {
    border-bottom: 1px solid #ececec;
    padding-bottom: 11px;
    margin-bottom: 11px;
}
.top-donors li:last-child,
.top-fundraisers li:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.top-donors .amount,
.top-fundraisers .amount {
    float: right;
    color: #666;
}
/* Activity Feed */
.peerraiser-wrap.dashboard-wrap .activity-feed {
    max-height: 1000px;
    overflow: auto;
}
.peerraiser-wrap.dashboard-wrap .activity-feed li {
    margin-bottom: 1em;
    padding-left: 25px;
    position: relative;
}
.peerraiser-wrap.dashboard-wrap .activity-feed a {
    text-decoration: none;
    font-weight: bold;
}
.peerraiser-wrap.dashboard-wrap .activity-feed .date {
    display: block;
    color: #bbbbbb;
    text-transform: lowercase;
}
.activity-feed li:before {
    width: 1.28571429em;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px 0 0;
    font-size: 16px;
    vertical-align: bottom;
    color: #82878c;
    position: absolute;
    left: 0;
    top: 4px;
}
.activity-feed .donation:before {
    content: "\f0d6";
}
.activity-feed .campaign:before {
    content: "\f0a1";
}
.activity-feed .fundraiser:before {
    content: "\f004";
}
.activity-feed .install:before {
    content: "\f019";
}
.activity-feed .settings:before {
    content: "\f013";
}
@media (max-width: 1200px) {
    .peerraiser-wrap.dashboard-wrap .stats-container.first,
    .peerraiser-wrap.dashboard-wrap .stats-container.last,
    .peerraiser-wrap.dashboard-wrap .stats-container{
        width: 49%;
        margin: 0;
    }

    .peerraiser-wrap.dashboard-wrap .stats-container:nth-child(odd) {
        margin: 0 .5% 1em 0;
    }
    .peerraiser-wrap.dashboard-wrap .stats-container:nth-child(even) {
        margin: 0 0 1em .5%;
    }
}
@media (max-width: 768px) {
    .peerraiser-wrap.dashboard-wrap .column-left,
    .peerraiser-wrap.dashboard-wrap .column-right{
        width: 100%;
        float: none;
    }
}
@media (max-width: 500px) {
    .peerraiser-wrap.dashboard-wrap .stats-container,
    .peerraiser-wrap.dashboard-wrap .stats-container.first,
    .peerraiser-wrap.dashboard-wrap .stats-container.last {
        width: 100%;
        float: none;
        margin: 0 0 1em 0;
    }
    .top-donors,
    .top-fundraisers {
        width: 100%;
        margin: 0 0 1em 0;
        float: none;
    }
}