.select2-results__option .display_name,
.select2-results__option .pr_name {
    display: block;
    /*font-weight: bold;*/
}
.select2-results__option .user_id,
.select2-results__option .pr_id {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}
.cmb2-id--peerraiser-campaign-start-date,
.cmb2-id--peerraiser-campaign-end-date {
    float: left;
    width: 50%;
    height: 90px;
    box-sizing: border-box;
}