#_peerraiser_fundraiser_campaign,
#_peerraiser_fundraiser_team,
#_peerraiser_fundraiser_participant {
    min-width: 300px;
}
.select2-results__option .display_name,
.select2-results__option .pr_name {
    display: block;
    /*font-weight: bold;*/
}
.select2-results__option .user_id,
.select2-results__option .pr_id {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}
/* Misc */
.text-center {
    text-align: center;
}