/* Fonts */
@font-face {
    font-family: 'peerraiser';
    src:    url('../fonts/peerraiser.eot?exeqo5');
    src:    url('../fonts/peerraiser.eot?exeqo5#iefix') format('embedded-opentype'),
        url('../fonts/peerraiser.ttf?exeqo5') format('truetype'),
        url('../fonts/peerraiser.woff?exeqo5') format('woff'),
        url('../fonts/peerraiser.svg?exeqo5#peerraiser') format('svg');
    font-weight: normal;
    font-style: normal;
}
.dashicons-peerraiser-logo:before {
    content: "\2665";
    font-family: 'peerraiser' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.ladd-button {
    line-height: 1em;
}
.ladda-button:focus {
    outline: none;
}
.ladda-button[data-color=blue].success {
    background: #449d44;
}
.ladda-button[data-color=blue].success:hover {
    background: #5cb85c;
}
.ladda-button .fa {
    display: none;
}
.ladda-button.success .fa {
    display: inline;
    padding-left: 9px;
}
/* CMB2 */
.cmb-th label {
    display: inline !important;
}
/* Tooltip */
.pr_tooltip {
    position: relative;
}
span.pr_tooltip+span.pr_tooltip {
    display: none;
}
.pr_tooltip .pr_icon {
    margin-left: 5px;
    cursor: help;
}
.pr_tooltip .pr_icon:hover + .pr_tip {
    display: block;
    position: absolute;
    top: 28px;
    left: 3px;
}
.pr_tooltip .pr_tip {
    display: none;
    color: #fff;
    background-color: rgba(0, 0, 0, .75);
    font-weight: normal;
    font-size: .85em;
    padding: 8px;
    border-radius: 8px;
    width: 200px;
    z-index: 10;
}
.pr_tooltip .pr_tip:before {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0 0 10px;
    border-color: transparent transparent transparent rgba(0, 0, 0, .75);
    position: absolute;
    top: -10px;
}
/* Pagination */
.admin-nav {
    text-align: center;
}
.admin-nav .pager {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
.admin-nav .pager>li {
    display: inline;
}
.admin-nav .pager>li:first-child>a,
.admin-nav .pager>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.admin-nav .pager>li:last-child>a,
.admin-nav .pager>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.admin-nav .pager>li>a:focus,
.admin-nav .pager>li>a:hover,
.admin-nav .pager>li>span:focus,
.admin-nav .pager>li>span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}
.admin-nav .pager .active {
    color: #000;
}
.admin-nav .pager>li>a,
.admin-nav .pager>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
/* Misc */
.group:before,
.group:after {
    content: "";
    display: table;
}
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}
