#_fundraiser_campaign,
#_fundraiser_team,
#_fundraiser_participant {
    min-width: 300px;
}
.select2-results__option .display_name,
.select2-results__option .pr_name {
    display: block;
    /*font-weight: bold;*/
}
.select2-results__option .user_id,
.select2-results__option .pr_id {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}
/* Fields */
.peerraiser-form .team-info .team-date .label:before {
    content: "\f073";
}
.peerraiser-form .misc-pub-section:before,
.peerraiser-form .team-info .label:before {
    width: 1.28571429em;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px 0 0;
    font-size: 16px;
    vertical-align: bottom;
    color: #82878c;
}
/* Misc */
.text-center {
    text-align: center;
}