.peerraiser-dashboard {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.peerraiser-dashboard h2,
.entry-content .peerraiser-dashboard h2 {
    margin: 0 0 1em;
    font-size: 32px;
}
.login-form-wrapper {
    width: 400px;
    margin: 0 auto;
}
.login-form-wrapper *,
.signup-form-wrapper* {
    box-sizing: border-box;
}
.signup-form-wrapper,
.login-form-wrapper {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-sizing: border-box;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}
.login-form-wrapper > .login-form-heading,
.signup-form-wrapper > .signup-form-heading {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.login-form-wrapper a,
.signup-form-wrapper a {
    color: #428bca;
}
.login-form-wrapper a:hover,
.login-form-wrapper a:focus,
.signup-form-wrapper a:hover,
.signup-form-wrapper a:focus {
    color: #2a6496;
    text-decoration: underline;
}
.login-form-heading,
.signup-form-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.login-form-wrapper h3.login-title,
.signup-form-wrapper h3.signup-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
    font-weight: normal;
}
.login-form-wrapper .forgot-password,
.signup-form-wrapper .forgot-password {
    float: right;
    font-size: 80%;
    position: relative;
    top: -10px;
}
.login-form-wrapper .forgot-password a,
.signup-form-wrapper .forgot-password a {
    text-decoration: none;
    background: 0 0;
    font-size: 11px;
    line-height: 16px;
    display: block;
    border: 0;
}
.signup-form-wrapper .terms-of-use a {
    border: 0;
}
.login-form-wrapper .forgot-password a:hover,
.signup-form-wrapper .forgot-password a:hover {
    text-decoration: underline;
}
.login-form-body,
.signup-form-body {
    padding: 30px 15px 15px;
}
.login-form-wrapper .input-wrapper,
.signup-form-wrapper .input-wrapper {
    position: relative;
    display: table;
    border-collapse: separate;
    width: 100%;
}
.signup-form-wrapper p {
    margin-bottom: 15px;
}
.login-form-wrapper .input-wrapper.email,
.login-form-wrapper .input-wrapper.password,
.signup-form-wrapper .input-wrapper.name,
.signup-form-wrapper .input-wrapper.email,
.signup-form-wrapper .input-wrapper.username,
.signup-form-wrapper .input-wrapper.password {
    margin-bottom: 25px;
    width: 100%;
}
.login-form-wrapper .form-input,
.signup-form-wrapper .form-input {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    background: #fff none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.signup-form-wrapper #signup-firstname,
.signup-form-wrapper #signup-lastname {
    width: 49%;
    float: left;
}
.signup-form-wrapper #signup-firstname {
    margin-right: 2%;
}
.login-form-wrapper .checkbox {
    display: block;
    min-height: 27px;
    margin: 0;
    padding-left: 20px;
    padding-top: 7px;
}
.login-form-wrapper label,
.signup-form-wrapper label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 700;
    width: 100%;
}
.signup-form-wrapper label span {
    display: block;
}
.login-form-wrapper .checkbox label {
    display: inline;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.login-form-wrapper .checkbox input[type=checkbox] {
    float: left;
    margin: 4px 0 0 -20px;
    line-height: normal;
    box-sizing: border-box;
    padding: 0;
}
.login-form-wrapper .login-submit,
.signup-form-wrapper .signup-submit {
    margin-top: 10px;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #fff;
    background: #5cb85c none;
    border: 1px solid #4cae4c;
    text-transform: none;
}
.signup-form-wrapper .signup-submit {
    margin-bottom: 15px;
}
.login-form-wrapper .login-submit:hover,
.signup-form-wrapper .signup-submit:hover {
    background-color: #47a447;
    border-color: #398439;
}
.login-form-wrapper .login-submit:active,
.signup-form-wrapper .signup-submit:active {
    outline: 0;
    background-image: none;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.login-form-wrapper .login-form-bottom,
.signup-form-wrapper .signup-form-bottom {
    border-top: 1px solid #888;
    padding-top: 15px;
    margin-top: 15px;
    font-size:85%
}
.login-form-wrapper .login-form-bottom a,
.signup-form-wrapper .signup-form-bottom a {
    border-bottom: 0;
}
.login-form-wrapper .error-message,
.signup-form-wrapper .error-message,
.peerraiser-registration-form .error-message {
    background-color: #f2dede;
    color: #a94442;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.peerraiser-nav ul {
    display: table;
    float: none;
    width: 100%;
    background: #29abe0;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #1b8dbb;
    list-style: none;
    padding: 0;
}
.peerraiser-nav ul li:first-child {
    border-left: 0 none;
}
.peerraiser-nav ul li:last-child {
    border-right: 0 none;
}
.peerraiser-nav ul li {
    border-left: 1px solid #29abe0;
    display: table-cell;
    float: none;
    text-align: left;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
.peerraiser-nav ul li:first-child a {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-left: 0 none;
}
.peerraiser-nav ul li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: 0 none;
}
.peerraiser-nav ul li a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    display: block;
    color: #fff;
    border-top: 1px solid rgba(255,255,255, 0.25);
    border-left: 1px solid rgba(255,255,255, 0.25);
    outline: 0;
    border-bottom: 0;
    padding: 10px 20px 10px 40px;
    text-decoration: none;
}
.peerraiser-nav ul li a:hover {
    text-decoration: none;
}
.peerraiser-nav ul li.profile a {
    background: url("../images/icon-profile.png") no-repeat 15px center;
}
.peerraiser-nav ul li.donations a {
    background: url("../images/icon-money.png") no-repeat 15px center;
}
.peerraiser-nav ul li.settings a {
    background: url("../images/icon-gear.png") no-repeat 15px center;
}
.peerraiser-nav ul li a:hover {
    background-color: #1b8dbb;
}
.peerraiser-nav ul li a:active {
    background-color: #1b8dbb;
    border-color: rgba(0,0,0,0);
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
    box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}
.peerraiser-dashboard * {
    box-sizing: border-box;
}
.peerraiser-dashboard .fundraisers {
    margin-bottom: 2em;
}
.peerraiser-dashboard .fundraiser,
.peerraiser-dashboard .team {
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0,0,0,0.20);
    display: flex;
    align-items: center;
}
.peerraiser-dashboard .fundraiser:last-child,
.peerraiser-dashboard .team:last-child {
    border-bottom: 0;
}
.peerraiser-dashboard .fundraiser .thumbnail ,
.peerraiser-dashboard .team .thumbnail {
    float: left;
    margin-right: 10px;
}
.peerraiser-dashboard .fundraiser .thumbnail img,
.peerraiser-dashboard .team .thumbnail img {
    width: 60px;
    height: 60px;
}
.peerraiser-dashboard .fundraiser .content,
.peerraiser-dashboard .team .content {
    float: left;
}
.peerraiser-dashboard .fundraiser .content h3,
.peerraiser-dashboard .team .content h3 {
    margin: 0;
    font-size: 18px;
}
.peerraiser-dashboard .fundraiser .content p,
.peerraiser-dashboard .team .content p {
    margin: 0;
    font-size: 13px;
    color: rgba(0,0,0,0.6);
}
.peerraiser-dashboard .fundraiser .controls,
.peerraiser-dashboard .team .controls {
    margin-left: auto;
}
.peerraiser-dashboard .fundraiser .controls a,
.peerraiser-dashboard .team .controls a {
    font-size: 13px;
    display: inline-block;
    margin: 0 5px;
}
.peerraiser-dashboard .fundraiser .controls a:first-child,
.peerraiser-dashboard .team .controls a:first-child {
    margin-left: 0;
}
.peerraiser-dashboard .fundraiser .controls a:last-child,
.peerraiser-dashboard .team .controls a:last-child {
    margin-right: 0;
}
/* Donations List */
table.donations-list {
    font-size: 15px;
    border: 0;
}
table.donations-list .check:before,
table.donations-list .times:before {
    width: 1.28571429em;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px 0 0;
    font-size: 16px;
    vertical-align: bottom;
    color: #82878c;
}
table.donations-list .check:before {
    content: "\f00c";
    color: #3c763d;
}
table.donations-list .times:before {
    content: "\f00d";
    color: #a94442;
}
/* Tables */
table {
    border-spacing: 0;
    border-collapse: collapse;
}
table {
    background-color: transparent;
}
caption {
    padding-top: 8px;
    padding-bottom: 8px;
    color: #777777;
    text-align: left;
}
th {
    text-align: left;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border: 0;
    border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
    border-top: 0;
}
.table > tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table .table {
    background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding: 5px;
}
.table-bordered {
    border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover {
    background-color: #f5f5f5;
}
table col[class*="col-"] {
    position: static;
    float: none;
    display: table-column;
}
table td[class*="col-"],
table th[class*="col-"] {
    position: static;
    float: none;
    display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
    background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr:hover > .active,
.table-hover > tbody > tr.active:hover > th {
    background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
    background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr:hover > .success,
.table-hover > tbody > tr.success:hover > th {
    background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
    background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr:hover > .info,
.table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
    background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr:hover > .warning,
.table-hover > tbody > tr.warning:hover > th {
    background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
    background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr:hover > .danger,
.table-hover > tbody > tr.danger:hover > th {
    background-color: #ebcccc;
}
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%;
}
@media screen and (max-width: 767px) {
    .table-responsive {
        width: 100%;
        margin-bottom: 15px;
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid #dddddd;
    }
    .table-responsive > .table {
        margin-bottom: 0;
    }
    .table-responsive > .table > thead > tr > th,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tfoot > tr > td {
        white-space: nowrap;
    }
    .table-responsive > .table-bordered {
        border: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:first-child,
    .table-responsive > .table-bordered > tbody > tr > th:first-child,
    .table-responsive > .table-bordered > tfoot > tr > th:first-child,
    .table-responsive > .table-bordered > thead > tr > td:first-child,
    .table-responsive > .table-bordered > tbody > tr > td:first-child,
    .table-responsive > .table-bordered > tfoot > tr > td:first-child {
        border-left: 0;
    }
    .table-responsive > .table-bordered > thead > tr > th:last-child,
    .table-responsive > .table-bordered > tbody > tr > th:last-child,
    .table-responsive > .table-bordered > tfoot > tr > th:last-child,
    .table-responsive > .table-bordered > thead > tr > td:last-child,
    .table-responsive > .table-bordered > tbody > tr > td:last-child,
    .table-responsive > .table-bordered > tfoot > tr > td:last-child {
        border-right: 0;
    }
    .table-responsive > .table-bordered > tbody > tr:last-child > th,
    .table-responsive > .table-bordered > tfoot > tr:last-child > th,
    .table-responsive > .table-bordered > tbody > tr:last-child > td,
    .table-responsive > .table-bordered > tfoot > tr:last-child > td {
        border-bottom: 0;
    }
}
/* Misc */
.text-center {
    text-align: center;
}
/* Dashboard */
.peerraiser-dashboard * {
    box-sizing: border-box;
}
/* File upload */
.peerraiser-image-upload {
    background-color: rgba(0,0,0,0.03);
    font-size: 14px;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 1em;
}
.peerraiser-image-upload .profile-image-preview {
    float: left;
    margin-right: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    background-color: #fff;
    padding: 1px;
    position: relative;
}
.peerraiser-image-upload .profile-image-preview img.avatar {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    display: block;
    padding: 0;
    margin: 0;
    background: transparent;
}
.peerraiser-image-upload .profile-image-preview img.loading {
    position: absolute;
    width: 31px;
    height: 31px;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.peerraiser-image-upload .profile-image-upload {
    float: left;
}
.peerraiser-image-upload .info-top {
    color: #888;
    border-bottom: 1px solid rgba(0,0,0,.05);
    padding-bottom: 13px;
    margin-bottom: 13px;
}
.peerraiser-image-upload .info-top a {
    border-bottom: 0;
    text-decoration: none;
}
.peerraiser-image-upload .file-input {
    display: none;
}
.peerraiser-image-upload .file-label {
    border: 1px solid #767676;
    background-color: #fff;
    padding: 0;
    color: #333333;
    max-width: 100%;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
}
.peerraiser-image-upload .file-label span {
    width: 230px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    padding: 0.625rem 1.25rem;
    color: #333;
}
.peerraiser-image-upload .file-label strong {
    height: 100%;
    color: #fff;
    background: url('../images/upload.png') no-repeat 6px center #767676;
    display: inline-block;
    padding: 0.625rem 1.25rem 0.625rem 32px;
    border-right: 1px solid #bbb;
}
.peerraiser-image-upload .file-label strong:hover {
    background-color: #404040
}
.peerraiser-image-upload .info-bottom {
    color: #636363;
    margin: 0;
}
.peerraiser-dashboard .cmb-th,
.peerraiser-dashboard .cmb-td,
.peerraiser-dashboard .cmb-th + .cmb-td {
    display: inline-block;
    float: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 15px;
}
.peerraiser-dashboard .cmb-th {
    display: block;
    clear: both;
}
.peerraiser-dashboard .cmb2-wrap {
    overflow: hidden;
}
.peerraiser-dashboard .cmb2-wrap .cmb-row{
    margin-bottom: 1em;
}
.peerraiser-dashboard .cmb2-wrap .cmb-row.cmb2-id-first-name,
.peerraiser-dashboard .cmb2-wrap .cmb-row.cmb2-id-last-name {
    width: 49%;
    float: left;
}
.peerraiser-dashboard .cmb2-wrap .cmb-row.cmb2-id-first-name {
    margin-right: 1%;
}
.peerraiser-dashboard .cmb2-wrap .cmb-row.cmb2-id-last-name {
    margin-left: 1%;
}
.peerraiser-dashboard .cmb2-wrap input,
.peerraiser-dashboard .cmb2-wrap textarea {
    font-size: 15px;
    width: 100%;
    padding: 5px;
}
.peerraiser-dashboard .alert {
    padding: 15px 15px 15px 34px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;
}
.peerraiser-dashboard .alert-danger {
    color: #a94442;
    background: url('../images/icon-error.png') no-repeat 15px center #f2dede;
    border-color: #ebccd1;
}
form#dashboard_settings {
    margin-bottom: 2em;
}
/* Widgets */
.peerraiser-widget {
    margin-bottom: 1rem;
}
/* Campaigns, Fundraisers and Teams */
#peerraiser-campaign,
#peerraiser-fundraiser,
#peerraiser-team {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
#peerraiser-campaign:before,
#peerraiser-campaign:after,
#peerraiser-team:after,
#peerraiser-fundraiser:before,
#peerraiser-fundraiser:after,
#peerraiser-team:after {
    content: " ";
    display: table;
}
#peerraiser-campaign:after,
#peerraiser-fundraiser:after,
#peerraiser-team:after {
    clear: both;
}
.peerraiser-campaign-content,
.peerraiser-fundraiser-content,
.peerraiser-team-content {
    padding: .75rem 15px;
    box-sizing: border-box;
}
.peerraiser-campaign-content.has-sidebar {
    width: 75%;
    float: left;
}
.peerraiser-fundraiser-content.has-sidebar,
.peerraiser-team-content.has-sidebar {
    width: 75%;
    float: right;
}
.peerraiser-campaign-sidebar {
    box-sizing: border-box;
    padding: .75rem 15px;
    width: 25%;
    float: right;
}
.peerraiser-fundraiser-sidebar,
.peerraiser-team-sidebar {
    box-sizing: border-box;
    padding: .75rem 15px;
    width: 25%;
    float: left;
}
.peerraiser-campaign-banner img {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}
.peerraiser-campaign-donate-button a,
.peerraiser-campaign-donate-button a:link,
.peerraiser-campaign-donate-button a:visited,
.peerraiser-campaign-register-button a,
.peerraiser-campaign-register-button a:link,
.peerraiser-campaign-register-button a:visited,
.peerraiser-fundraiser-donate-button a,
.peerraiser-fundraiser-donate-button a:link,
.peerraiser-fundraiser-donate-button a:visited,
.peerraiser-fundraiser-register-button a,
.peerraiser-fundraiser-register-button a:link,
.peerraiser-fundraiser-register-button a:visited,
.peerraiser-team-donate-button a,
.peerraiser-team-donate-button a:link,
.peerraiser-team-donate-button a:visited,
.peerraiser-team-join-button a,
.peerraiser-team-join-button a:link,
.peerraiser-team-join-button a:visited{
    text-decoration: none;
    display: block;
    color: #fff;
    background-color: #d9534f;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #d9534f;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: auto;
}
.peerraiser-campaign-donate-button a:hover,
.peerraiser-campaign-register-button a:hover,
.peerraiser-fundraiser-donate-button a:hover,
.peerraiser-fundraiser-register-button a:hover,
.peerraiser-team-donate-button a:hover,
.peerraiser-team-join-button a:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
}
.peerraiser-campaign-total-raised,
.peerraiser-fundraiser-total-raised,
.peerraiser-team-total-raised {
    border: 1px solid #333;
    color: #333;
    padding: 1rem;
    text-align: center;
}
.peerraiser-campaign-total-raised h3,
.peerraiser-campaign-total-raised h4,
.peerraiser-fundraiser-total-raised h3,
.peerraiser-fundraiser-total-raised h4,
.peerraiser-team-total-raised h3,
.peerraiser-team-total-raised h4 {
    margin: 0;
    padding: 0;
}
.peerraiser-campaign-total-raised h3 ,
.peerraiser-fundraiser-total-raised h3,
.peerraiser-team-total-raised h3 {
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: -.75px;
}
.peerraiser-campaign-total-raised h4,
.peerraiser-fundraiser-total-raised h4,
.peerraiser-team-total-raised h4 {
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
}
.peerraiser-top-fundraisers a,
.peerraiser-campaign-donations a,
.peerraiser-fundraiser-donations a,
.peerraiser-team-donations a,
.peerraiser-team-roster a {
    text-decoration: underline;
}
.peerraiser-top-teams ol,
.peerraiser-top-fundraisers ol,
.peerraiser-team-roster ol,
.peerraiser-campaign-donations ol,
.peerraiser-fundraiser-donations ol {
    margin-left: 0;
    padding-left: 0;
}
.peerraiser-top-teams li,
.peerraiser-top-fundraisers li,
.peerraiser-team-roster li,
.peerraiser-campaign-donations li,
.peerraiser-fundraiser-donations li {
    margin-left: 0;
    padding-left: 0;
    list-style: decimal inside;
}
.peerraiser-thermometer-container {
    text-align: center;
    font-size: .85rem;
}
.peerraiser-thermometer {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 100%;
    background-color: #eee;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.2);
    margin-bottom: .25rem;
}
.peerraiser-thermometer-bar {
    height: 20px;
    display: block;
    float: left;
    width: 0;
    background: #3798d9;
    box-shadow: inset 0 -1px 2px rgba(0,0,0,0.1);
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.125) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.125) 50%, rgba(255, 255, 255, 0.125) 75%, transparent 75%, transparent);
    background-size: 35px 35px;
}
/* Forms / Fields */
.peerraiser-error,
.peerraiser-error label,
.peerraiser-error p.cmb2-metabox-description{
    color: #a94442;
}
.peerraiser-error input {
    border: 1px solid #a94442;
}
.peerraiser-error label.peerraiser-error {
    font-weight: bold;
    font-size: 13px;
    display: block;
    padding-top: .5em;
}
.peerraiser-error  .cmb2-metabox-description + label.peerraiser-error {
    padding-top: 0;
}
/* Donation Form */
form.peerraiser-donation-form * {
    box-sizing: border-box;
}
form.peerraiser-donation-form input[type='url'],
form.peerraiser-donation-form input[type='tel'],
form.peerraiser-donation-form input[type='email'],
form.peerraiser-donation-form input[type='text'],
form.peerraiser-donation-form input[type='password'],
form.peerraiser-donation-form input[type='number'] {
    width: 100%;
}
form.peerraiser-donation-form .hide {
    display: none;
}
form.peerraiser-donation-form section {
    margin-bottom: 2rem;
}
form.peerraiser-donation-form label {
    font-size: 1rem;
}
form.peerraiser-donation-form  input[type="text"]:disabled {
    background: #dddddd;
}
form.peerraiser-donation-form .peerraiser-campaign-selection select,
form.peerraiser-donation-form .peerraiser-fundraiser-selection select {
    width: 100%;
}
form.peerraiser-donation-form .peerraiser-field {
    margin-bottom: 1rem;
}
form.peerraiser-donation-form .peerraiser-name-fields {
    overflow: auto;
}
form.peerraiser-donation-form #peerraiser_field_first_name {
    float: left;
    width: 50%;
    padding-right: .5rem;
}
form.peerraiser-donation-form #peerraiser_field_last_name {
    float: left;
    width: 50%;
    padding-left: .5rem;
}
form.peerraiser-donation-form #peerraiser_field_anonymous label {
    font-weight: normal;
    font-size: .85rem;
}
form.peerraiser-donation-form .peerraiser-donation-amount-buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}
form.peerraiser-donation-form .peerraiser-donation-amount-buttons li {
    display: inline-block;
    margin: 0 1rem 0 0;
}
form.peerraiser-donation-form .peerraiser-donation-amount-buttons li:last-child {
    margin-right: 0;
}
form.peerraiser-donation-form .peerraiser-donation-amount-buttons input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}
form.peerraiser-donation-form .peerraiser-donation-amount-buttons label {
    float: left;
    display: inline-block;
    color: #fff;
    background-color: #5cb85c;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    padding: 6px 14px;
    border: 1px solid #4cae4c;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition:    all 0.1s ease-in-out;
    -ms-transition:     all 0.1s ease-in-out;
    -o-transition:      all 0.1s ease-in-out;
    transition:         all 0.1s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
form.peerraiser-donation-form .peerraiser-donation-amount-buttons label:hover {
    cursor: pointer;
}
form.peerraiser-donation-form .peerraiser-donation-amount-buttons input:checked + label {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
form.peerraiser-donation-form .peerraiser-donation-amount-other,
form.peerraiser-donation-form .peerraiser-fundraising-goal {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    max-width: 300px;
}
form.peerraiser-donation-form .peerraiser-donation-amount-other .peerraiser-currency-symbol,
form.peerraiser-donation-form .peerraiser-fundraising-goal .peerraiser-currency-symbol {
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    color: #464a4c;
    text-align: center;
    background-color: #eceeef;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    white-space: nowrap;
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
form.peerraiser-donation-form .peerraiser-donation-amount-other .peerraiser-currency-symbol:not(:last-child),
form.peerraiser-donation-form .peerraiser-fundraising-goal .peerraiser-currency-symbol:not(:last-child) {
    border-right: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
form.peerraiser-donation-form .peerraiser-donation-amount-other .peerraiser-currency-symbol:not(:first-child),
form.peerraiser-donation-form .peerraiser-fundraising-goal .peerraiser-currency-symbol:not(:first-child) {
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
form.peerraiser-donation-form .peerraiser-donation-amount-other .peerraiser-donation-input {
    height: 55px;
    position: relative;
    z-index: 2;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background: #f7f7f7 none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: .25rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
}
form.peerraiser-donation-form .peerraiser-donation-amount-other .peerraiser-donation-input:focus {
    border-color: rgba(0, 0, 0, 0.15);
    background-color: #fff;
}
form.peerraiser-donation-form .peerraiser-donation-amount-other .peerraiser-donation-input:not(:first-child),
form.peerraiser-donation-form .peerraiser-fundraising-goal input:not(:first-child) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
form.peerraiser-donation-form .peerraiser-donation-amount-other .peerraiser-donation-input:not(:last-child),
form.peerraiser-donation-form .peerraiser-donation-amount-other input:not(:last-child) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
form.peerraiser-donation-form .peerraiser-submit-button {
    color: #fff;
    background-color: #5cb85c;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 5px;
    text-align: center;
    padding: 6px 14px;
    border: 1px solid #4cae4c;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
form.peerraiser-donation-form .peerraiser-submit-button:hover,
form.peerraiser-donation-form .peerraiser-submit-button:active,
form.peerraiser-donation-form .peerraiser-submit-button:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
/* Registration */
.peerraiser-registration-select-campaign select {
    min-width: 300px;
}
.peerraiser-fundraising-choices {
    list-style: none;
    margin: 0;
    padding: 0;
}
.peerraiser-fundraising-choices li {
    display: block;
    width: 33.33%;
    float: left;
    text-align: center;
    padding: .5rem;
}
.peerraiser-fundraising-choices li:first-child {
    padding-left: 0;
}
.peerraiser-fundraising-choices li:last-child {
    padding-right: 0;
}
.peerraiser-fundraising-choices li a {
    display: block;
    background-color: lightgrey;
    padding: 1rem;
    width:100%;
    text-decoration: none;
}
.peerraiser-registration-form .cmb2-id--peerraiser-body .cmb-th {
    padding-bottom: 0;
}
.peerraiser-registration-form .cmb2-id--peerraiser-body .cmb-td {
    padding-top: 0;
    width: 100%;
}
.peerraiser-registration-form .cmb2-id--peerraiser-body .wp-editor-tabs {
    float: left;
}
.peerraiser-registration-form .cmb2-wrap .cmb-row {
    margin-bottom: 1rem;
}
.peerraiser-registration-form .cmb-th {
    width: 100%;
    padding: 0;
    margin: 0;
}
.peerraiser-registration-form .cmb-td {
    width: 100%;
    margin: 0;
    padding: 0;
}
.peerraiser-team-search-results {
    margin: 1rem 0;
}
.peerraiser-team-search-results .peerraiser-team {
    padding-left: 85px;
    text-align: left;
    display: block;
    border: none;
    position: relative;
    width: 100%;
    min-height: 85px;
    margin-bottom: 20px;
}
.peerraiser-team-search-results .peerraiser-team img {
    background-color: #eee;
    border-radius: 72px;
    border: 1px solid #eee;
    width: 75px;
    position: absolute;
    top: 0;
    left: 0;
}
.peerraiser-team-search-results .peerraiser-team h3 {
    margin: 0;
    padding: 0;
}