.select2-results__option .display_name,
.select2-results__option .pr_name {
    display: block;
    /*font-weight: bold;*/
}
.select2-results__option .user_id,
.select2-results__option .pr_id {
    font-size: 12px;
    display: block;
    opacity: 0.5;
}
.cmb2-id--peerraiser-start-date,
.cmb2-id--peerraiser-start-time,
.cmb2-id--peerraiser-end-date,
.cmb2-id--peerraiser-end-time {
    float: left;
    width: 50%;
    height: 90px;
    box-sizing: border-box;
}

.cmb2-postbox .cmb2-id--peerraiser-start-date .cmb-th,
.cmb2-postbox .cmb2-id--peerraiser-start-time .cmb-th,
.cmb2-postbox .cmb2-id--peerraiser-end-date .cmb-th,
.cmb2-postbox .cmb2-id--peerraiser-end-time .cmb-th{
    width: 21%;
}
.cmb2-postbox .cmb2-id--peerraiser-start-date .cmb-th + .cmb-td,
.cmb2-postbox .cmb2-id--peerraiser-start-time .cmb-th + .cmb-td,
.cmb2-postbox .cmb2-id--peerraiser-end-date .cmb-th + .cmb-td,
.cmb2-postbox .cmb2-id--peerraiser-end-time .cmb-th + .cmb-td {
    width: 77%;
}
/* Misc */
.text-center {
    text-align: center;
}
/* Campaign Stats */
#campaign_stats .campaign-info {
    padding: 0 10px;
}
#campaign_stats .campaign-info li {
    border-bottom: 1px solid #dddddd;
    padding: 10px 0;
    margin: 0;
}
#campaign_stats .campaign-info li:last-child {
    border-bottom: 0;
}
#campaign_stats .campaign-info li strong {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 5px;
}
#campaign_stats .campaign-info li span {
    display: inline-block;
    padding: 3px 7px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #91be4c;
    border-radius: 10px;
}
#campaign_stats .campaign-info li span.negative {
    background-color: #d9534f;
}
.peerraiser-form .misc-pub-section:before,
.peerraiser-form .campaign-info .label:before {
    width: 1.28571429em;
    text-align: center;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0 5px 0 0;
    font-size: 16px;
    vertical-align: bottom;
    color: #82878c;
}
.peerraiser-form .misc-pub-section.campaign-status:before {
    content: "\f059";
}
.peerraiser-form .misc-pub-section.campaign-status.active:before {
    content: "\f058";
}
.peerraiser-form .misc-pub-section.campaign-status.private:before {
    content: "\f023";
}
.peerraiser-form .misc-pub-section.campaign-status.ended:before {
    content: "\f253";
}