.peerraiser-settings .cmb-th {
    width: 20%;
    box-sizing: border-box;
    max-width: 200px;
}
.peerraiser-settings .cmb-td {
    width: 80%;
    box-sizing: border-box;
}
.peerraiser-settings .cmb2-metabox-description {
    display: block;
}